$color: azure;
/* General */
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    color: $color;
    text-decoration: none;
}
h2 {
    font-size: 20px;
}
a:hover {
    color: #C6C6C6;
    transform: scale(1.1);
}
body {
    background-color: #212529;
    color: $color;
}
/* header*/
.menu {
    display: flex;
        .izquierda {
            display: flex;
            flex: auto;
            align-items: center;
            .logo {
                width: 200px;
                padding-left: 10%;
                padding-bottom: 0.7%;
            }
            .bienvenido {
                    font-size: 25px;
                    padding-left: 3%;
            }
        }
        .derecha {
            padding-left: 25%;
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: space-evenly;
            font-size: 18px;
        }
    }
.submenu {
    background-color: #30363c;
    &.ul {
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 0.7%;
        padding-top: 0.7%;
        font-size: 18px;
        font-weight: 500;
    }
}

/* termina header empieza el main*/
.titulo_main {
    padding-left: 1%;
    margin-top: 1%;
}
.grid_main {
    display: grid;
    align-items: center;
    grid-template-rows: 300px;
    grid-template-areas: "destacados oferta1 oferta2 oferta3 oferta4";
    grid-column-gap: 50px;
    margin: 1%;
    margin-bottom: 2%;
    .grid1 {
        grid-area:destacados;
    }
    .imagen_main_destacados {
        width: 100%;
    }
    .imagen_main {
        width: 95%;
    }
    .grid2 {
        grid-area: oferta1;
    }
    .grid3 {
        grid-area: oferta2;
    }
    .grid4 {
        grid-area: oferta3;
    }
    .grid5 {
        grid-area: oferta4;
    }
    .grid_border_main {
        border: 2px solid $color;
    }
}
.titulo_componentes {
    margin: 1%;
    margin-top: 8%;
}
.grid_componentes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
    .imagen_componentes {
        width: 100%;
    }
    .grid_border_componentes {
        border: 2px solid $color;
    }
}
.titulo_monitores {
    margin: 1%;
    margin-top: 8%;
}
.grid_monitores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
    .imagen_monitores {
        width: 100%;
    }
    .grid_border_monitores {
        border: 2px solid $color;
    }
}
.titulo_notebooks {
    margin: 1%;
    margin-top: 8%;
}
.grid_notebooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
    .imagen_notebooks{
        width: 100%;
    }
    .grid_border_notebooks {
        border: 2px solid $color;
    }
}
.titulo_perifericos {
    margin: 1%;
    margin-top: 8%;
}
.grid_perifericos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
    .imagen_perifericos {
        width: 100%;
    }
    .grid_border_perifericos {
        border: 2px solid $color;
    }
}

/* comienzo footer*/
.menu-subfooter {
    background-color: #30363c;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    padding: 0.7%;
}
.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 0.7%;
}
.boton {
    margin-left: 18%;
}
/* aca empieza los medias querys*/
@import "mquery.scss";