$color: azure;
@mixin general {
    padding: 0;
    margin: 0;
}

/* General */

html,
* {
    @include general;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}
ul {
    @include general;
    list-style-type: none;
}
a {
    color: $color !important; 
    text-decoration: none;
}
a:hover {
    color: #C6C6C6;
    transform: scale(1.1);
}
body {
    background-color: #212529;
    color: $color;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 26px;
}

/* header*/

.logo {
    width: 210px;
    padding-left: 10%;
    padding-bottom: 0.7%;
}
.cart {
    width: 35px;
    height: 35px;
}

/* termina header empieza el main*/

.main_background {
    background-color: #FFFFFF;
}
.titulo_main_index {
    color: black;
    font-size: 40px;
    margin: 1%;
}
.titulo_main {
    color: black;
    font-size: 35px;
    padding-left: 1%;
    margin-top: 1%;
    padding-top: 1%;
}
.contenedor_main {
    justify-content: space-between;
    padding: 1%;
}
.card-title {
    color: #969696;
    .main {
        color: black;
        font-size: 35px;
        justify-content: center;
        align-items: center;
    }
}
.card .cardbody {
    color: #F6F6F6;
}
.card_main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-text {
    color: #212529;
}
.main_sobre_nosotros p {
    font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    padding: 1em 1em 0 3em;
}
.main_sobre_nosotros h2 {
    font-size: 35px;
    padding: 1em 0 1em 1.5em;
}
.titulo_preguntas_frecuentes {
    font-size: 28px;
    text-align: center;
}
.accordion {
    padding: 0 2%;
    padding-bottom: 1%;
}
.lista_preguntas {
    list-style-type: disc;
}

/* comienzo footer*/

.menu-subfooter {
    background-color: #30363c;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    padding: 0.7%;
}
.footer_section {
    display: flex;
    justify-content: space-around;
    padding: 0.7%;
}
.boton {
    margin-left: 18%;
}
.redes {
    display: flex;
    width: 30%;
}

/* aca empieza los medias querys*/
@import "mquery"