/* General */
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

a {
  color: azure !important;
  text-decoration: none; }

h2 {
  font-size: 20px; }

a:hover {
  color: #C6C6C6;
  transform: scale(1.1); }

body {
  background-color: #212529;
  color: azure; }

.titulo_contacto {
  display: none; }

.mapa_contacto {
  display: none; }

/* header*/
.logo {
  width: 210px;
  padding-left: 10%;
  padding-bottom: 0.7%; }

.bienvenido {
  font-size: 30px;
  padding-left: 3%; }

.menu_derecha .cart {
  width: 35px;
  height: 35px; }

/* termina header empieza el main*/
.titulo_main {
  padding-left: 1%;
  margin-top: 1%; }

.grid_main {
  margin-bottom: 1.3%; }

.grid_border_main {
  border: 2px solid azure; }

.imagen_main_destacados {
  width: 100%; }

.titulo_componentes {
  font-size: 40px;
  margin: 1%; }

.grid_componentes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  margin: 1%;
  margin-bottom: 7%; }
  .grid_componentes .imagen_componentes {
    width: 100%; }
  .grid_componentes .grid_border_componentes {
    border: 2px solid azure; }

.titulo_monitores {
  margin: 1%;
  margin-top: 8%; }

.grid_monitores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  margin: 1%;
  margin-bottom: 7%; }
  .grid_monitores .imagen_monitores {
    width: 100%; }
  .grid_monitores .grid_border_monitores {
    border: 2px solid azure; }

.titulo_notebooks {
  margin: 1%;
  margin-top: 8%; }

.grid_notebooks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  margin: 1%;
  margin-bottom: 7%; }
  .grid_notebooks .imagen_notebooks {
    width: 100%; }
  .grid_notebooks .grid_border_notebooks {
    border: 2px solid azure; }

.titulo_perifericos {
  margin: 1%;
  margin-top: 8%; }

.grid_perifericos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  margin: 1%;
  margin-bottom: 7%; }
  .grid_perifericos .imagen_perifericos {
    width: 100%; }
  .grid_perifericos .grid_border_perifericos {
    border: 2px solid azure; }

.main_sobre_nosotros p {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  padding: 1em 1em 0 3em; }

.main_sobre_nosotros h2 {
  font-size: 40px;
  padding: 1em 0 1em 1.5em; }

h3 {
  font-size: 26px; }

.lista_preguntas {
  list-style-type: disc; }

.main_componentes {
  background-color: #FFFFFF; }

.card .cardbody {
  color: #F6F6F6; }

.card-title {
  color: #969696; }

.card-text {
  color: #212529; }

.titulo_preguntas_frecuentes {
  text-align: center;
  font-size: 28px; }

/* comienzo footer*/
.menu-subfooter {
  background-color: #30363c;
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding: 0.7%; }

.footer_section {
  display: flex;
  justify-content: space-around;
  padding: 0.7%; }

.boton {
  margin-left: 18%; }

.card {
  margin: 3%; }

.main_componentes {
  display: flex; }

/* aca empieza los medias querys*/
/*Mobile S*/
@media only screen and (max-width: 374px) {
  * {
    font-size: 8px; }
  li {
    font-size: 9px; }
  h3 {
    font-size: 12px; }
  .logo {
    width: 100px; }
  .imagen_main {
    width: 90%; }
  .grid_main {
    padding-bottom: 1.3%; }
  .card-text {
    font-size: 15px; }
  .titulo_main {
    padding-left: 2%;
    padding-top: 1.5%;
    font-size: 23px;
    text-align: center; }
  .grid_componentes {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_monitores {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_notebooks {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_perifericos {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .footer_section {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .footer_section h2 {
      font-size: 10px; }
    .footer_section h3 {
      font-size: 10px; }
  .form {
    display: none; }
  .mapa {
    width: 75%;
    height: 11%;
    padding-left: 3%; }
  .redes {
    width: 30%; }
  .titulo_preguntas_frecuentes {
    font-size: 10px; } }

/*Mobile M*/
@media only screen and (min-width: 375px) and (max-width: 424px) {
  * {
    font-size: 11px; }
  li {
    font-size: 11px; }
  h3 {
    font-size: 15px; }
  .menu
.izquierda .logo {
    width: 60px; }
  .menu
.izquierda .bienvenido {
    font-size: 14px; }
  .titulo_main {
    padding-left: 2%;
    padding-top: 1.5%;
    font-size: 25px;
    text-align: center; }
  .card-text {
    font-size: 20px; }
  .grid_main {
    padding-bottom: 1.3%; }
  .grid_componentes {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_monitores {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_notebooks {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .grid_perifericos {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px; }
  .footer_section {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .footer_section h2 {
      font-size: 14px; }
  .form {
    display: none; }
  .mapa {
    width: 75%;
    height: 12%;
    padding-left: 3%; }
  .redes {
    width: 40%; } }

/*Mobile L*/
@media only screen and (min-width: 425px) and (max-width: 767px) {
  * {
    font-size: 13px; }
  h3 {
    font-size: 18px; }
  .menu
.izquierda .logo {
    width: 70px; }
  .menu
.izquierda .bienvenido {
    font-size: 15px; }
  .card-text {
    font-size: 25px; }
  .titulo_main {
    padding-left: 2%;
    padding-top: 1.5%;
    font-size: 30px;
    text-align: center; }
  .grid_main {
    padding-bottom: 1.3%; }
  .grid_componentes {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 3% 25%;
    grid-row-gap: 10px; }
  .grid_monitores {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 3% 25%;
    grid-row-gap: 10px; }
  .grid_notebooks {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 3% 25%;
    grid-row-gap: 10px; }
  .grid_perifericos {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 3% 25%;
    grid-row-gap: 10px; }
  .footer_section {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .footer_section h2 {
      font-size: 15px; }
  .form {
    display: none; }
  .mapa {
    width: 75%;
    height: 11%;
    padding-left: 3%; }
  .redes {
    width: 45%; } }

/* Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 15px; }
  .imagen_main_destacados {
    width: 86%; }
  .menu
.izquierda .logo {
    width: 80px; }
  .menu
.izquierda .bienvenido {
    font-size: 15px; }
  .titulo_main {
    padding-left: 2%;
    padding-top: 1.5%;
    font-size: 25px; }
  .imagen_main {
    width: 100px;
    margin-left: 5%; }
  .footer_section {
    display: flex;
    justify-content: space-evenly;
    width: 100%; }
    .footer_section h2 {
      font-size: 15px; }
  .form {
    display: none; }
  .mapa {
    width: 75%;
    height: 11%; }
  .redes {
    width: 45%; } }

/* Desktop */
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 25px; }
  a {
    font-size: 21px; }
  .nav-link {
    font-size: 21px; }
  .imagen_main_destacados {
    width: 86%; } }

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
  * {
    font-size: 20px; }
  a {
    font-size: 22px; }
  .imagen_main_destacados {
    width: 90%; } }

@media only screen and (min-width: 2560px) {
  * {
    font-size: 16px; }
  li {
    font-size: 20px; }
  h3 {
    font-size: 30px; }
  .nav-link {
    font-size: 35px; }
  h2 {
    font-size: 40px; }
  p {
    font-size: 30px; }
  a {
    font-size: 30px; }
  .titulo_main {
    font-size: 40px; }
  .menu
.izquierda .logo {
    width: 250px; }
  .menu
.izquierda .bienvenido {
    font-size: 45px; } }

.form {
  font-size: 30px; }
  .form .label {
    font-size: 20px; }
  .form .mail {
    font-size: 20px; }
  .form .boton {
    font-size: 20px; }

.redes {
  width: 50%; }

/*# sourceMappingURL=hoja_de_estilos.css.map */