/*Mobile S*/
@media only screen and (max-width: 374px) {
    * {
        font-size: 8px;
    }
li {
    font-size: 9px;
}
h3{
    font-size: 12px;
}
.logo{
    width: 100px;
}
.imagen_main {
    width: 90%;
}
.grid_main {
    padding-bottom: 1.3%;
}
.card-text {
    font-size: 15px;
}
.titulo_main {
    padding-left: 2%;
    padding-top: 1.5%;
    font-size: 23px;
    text-align: center;
}
.grid_componentes {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px;
}
.grid_monitores {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px;
}
.grid_notebooks {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px;
}
.grid_perifericos {
    grid-template-columns: 1fr;
    width: 50%;
    margin: 5% 25%;
    grid-row-gap: 10px;
}
.footer_section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    h2 {
        font-size: 10px;
    }
    h3 {
        font-size: 10px;
    }
}
.form {
    display: none;
}
.mapa {
    width: 75%;
    height: 11%;
    padding-left: 3%;
}
.redes {
    width: 30%;
}
.titulo_preguntas_frecuentes {
    font-size: 10px;
}
}
/*Mobile M*/
@media only screen and (min-width:375px) and (max-width: 424px) {
    * {
        font-size: 11px;
    }
    li {
        font-size: 11px;
    }
    h3{
        font-size: 15px;
    }
    .menu
    .izquierda{
            .logo{
                width: 60px;
            }
            .bienvenido {
                font-size: 14px;
            }
        }
    .titulo_main {
        padding-left: 2%;
        padding-top: 1.5%;
        font-size: 25px;
        text-align: center;
    }
    .card-text {
        font-size: 20px;
    }
    .grid_main {
        padding-bottom: 1.3%;
    }
    .grid_componentes {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 5% 25%;
        grid-row-gap: 10px;
    }
    .grid_monitores {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 5% 25%;
        grid-row-gap: 10px;
    }
    .grid_notebooks {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 5% 25%;
        grid-row-gap: 10px;
    }
    .grid_perifericos {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 5% 25%;
        grid-row-gap: 10px;
    }
    .footer_section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        h2 {
        font-size: 14px;
    }
    }
    .form {
        display: none;
    }
    .mapa {
        width: 75%;
        height: 12%;
        padding-left: 3%;
    }
    .redes {
        width: 40%;
    }
}
/*Mobile L*/
@media only screen and (min-width:425px) and (max-width: 767px) {
    * {
        font-size: 13px;
    }
    h3{
        font-size: 18px;
    }
    .menu
    .izquierda{
            .logo{
                width: 70px;
            }
            .bienvenido {
                font-size: 15px;
            }
        }
    .card-text {
        font-size: 25px;
    }
    .titulo_main {
        padding-left: 2%;
        padding-top: 1.5%;
        font-size: 30px;
        text-align: center;
    }
    .grid_main {
        padding-bottom: 1.3%;
    }
    .grid_componentes {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 3% 25%;
        grid-row-gap: 10px;
    }
    .grid_monitores {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 3% 25%;
        grid-row-gap: 10px;
    }
    .grid_notebooks {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 3% 25%;
        grid-row-gap: 10px;
    }
    .grid_perifericos {
        grid-template-columns: 1fr;
        width: 50%;
        margin: 3% 25%;
        grid-row-gap: 10px;
    }
    .footer_section {
        display: flex;
        justify-content: space-evenly;
        width: 100%; 
        h2 {
        font-size: 15px;
        }
    }
    .form {
        display: none;
    }
    .mapa {
        width: 75%;
        height: 11%;
        padding-left: 3%;
    }
    .redes {
        width: 45%;
    }
}
/* Tablet*/
@media only screen and (min-width:768px) and (max-width: 1023px) {
    * {
        font-size: 15px;
    }
    .imagen_main_destacados {
        width: 86%;
    }
    .menu
    .izquierda{
            .logo{
                width: 80px;
            }
            .bienvenido {
                font-size: 15px;
            }
        }
    .titulo_main {
        padding-left: 2%;
        padding-top: 1.5%;
        font-size: 25px;
    }
    .imagen_main {
        width: 100px;
        margin-left: 5%;
    }
    .footer_section {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        h2 {
        font-size: 15px;
    }
}
    .form {
        display: none;
    }
    .mapa {
        width: 75%;
        height: 11%;
    }
    .redes {
        width: 45%;
    }
}
/* Desktop */
@media only screen and (min-width: 1024px) {
    h1 {
        font-size: 25px;
    }
    a{
        font-size: 21px;
    }
    .nav-link {
        font-size: 21px;
    }
    .imagen_main_destacados {
        width: 86%;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 2559px){
    * {
        font-size: 20px;
    }
    a {
        font-size: 22px;
    }
    .imagen_main_destacados {
        width: 90%;
    }
}
@media only screen and (min-width: 2560px) {
    * {
        font-size: 16px;
    }
    li {
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
    .nav-link {
        font-size: 35px;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
    a {
        font-size: 30px;
    }
    .titulo_main {
        font-size: 40px;
    }
    .menu
    .izquierda{
            .logo{
                width: 250px;
            }
            .bienvenido {
                font-size: 45px;
            }
        }
    }
    .form {
        font-size: 30px;
        .label {
            font-size: 20px;
        }
        .mail {
            font-size: 20px;
        }
        .boton {
        font-size: 20px;
        }
    }
    .redes {
    width: 50%;
}