/* Para todo */
html,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    color: azure;
    text-decoration: none;
}
a:hover {
    color: #C6C6C6
}
body {
    background-color: #212529;
    color: azure;
}
/* header*/
.menu {
    display: flex;
}
.menu_izquierda {
    display: flex;
    flex: auto;
    align-items: center;
}
.logo {
    width: 200px;
    padding-left: 10%;
    padding-bottom: 0.7%;
}
.bienvenido {
    font-size: 25px;
    padding-left: 3%;
}
.menu_derecha {
    padding-left: 25%;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    font-size: 18px;
}
.submenu {
    background-color: #30363c;
}
.submenu_ul {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0.7%;
    padding-top: 0.7%;
    font-size: 18px;
    font-weight: 500;
}
/* termina header empieza el main*/
.banner {
    width: 100%;
}
.imagen_main_destacados{
    width: 100%;
}
.imagen_main{
    width: 95%;
}
.titulo_main{
    padding-left: 1%;
    margin-top: 1%;
}
.grid_main {
    display: grid;
    align-items: center;
    grid-template-rows: 300px;
    grid-template-areas: "destacados oferta1 oferta2 oferta3 oferta4";
    grid-column-gap: 50px;
    margin: 1%;
    margin-bottom: 2%;
}
.grid_border_main {
    border: 2px solid azure;
}
.grid1 {
    grid-area:destacados;
}
.grid2 {
    grid-area: oferta1;
}
.grid3 {
    grid-area: oferta2;
}
.grid4 {
    grid-area: oferta3;
}
.grid5 {
    grid-area: oferta4;
}
.grid_componentes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
}
.grid_border_componentes {
    border: 2px solid azure;
}
.titulo_componentes {
    margin: 1%;
    margin-top: 8%;
}
.grid_monitores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
}
.grid_border_monitores {
    border: 2px solid azure;
}
.titulo_monitores {
    margin: 1%;
    margin-top: 8%;
}
.grid_notebooks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
}
.grid_border_notebooks {
    border: 2px solid azure;
}
.titulo_notebooks {
    margin: 1%;
    margin-top: 8%;
}
.grid_perifericos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3%;
    margin: 1%;
    margin-bottom: 7%;
}
.grid_border_perifericos {
    border: 2px solid azure;
}
.titulo_perifericos {
    margin: 1%;
    margin-top: 8%;
}
/* comienzo footer*/
.menu-subfooter {
    background-color: #30363c;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    padding: 0.7%;
}
.footer_section{
    display: flex;
    justify-content: space-around;
    padding: 0.7%;
}
.redes{
    display: flex;
    flex-direction: column;
}
/* Media query*/

/*Mobile*/
@media only screen and (max-width: 480px) {
.imagenes_body {
    width: 30%;}
.imagen_destacados {
    width: 30%;}
}
/* Tablet*/
@media only screen and (min-width:481px) and (max-width: 960px){

}
/* Desktop */
@media only screen and (min-width: 961px){

}